<h1>Sign In</h1>


<div class="row">
    <div class="span6 offset3">
    <% if !signed_in? %>
        <%= form_for(:session, url: sessions_path) do |f| %>
            <%= f.label :email %>
            <%= f.text_field :email %>

            <%= f.label :password %>
            <%= f.password_field :password %>

            <%= f.submit "Sign In", class: "btn btn-large btn-primary" %>
        <% end %>
    <p>New User? <%= link_to "Sign up now", signup_path %></p>
    <% else %>
    <p>Already signed in as <%= current_user.name %>. <%= link_to "Not you?", signout_path, method: "delete" %> </p>
    <% end %>

    </div>
</div>