<%= form_for(@bookmark) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div class="field">
    <%= f.text_field :full_url, placeholder: "Bookmark URL...:" %>
    <%= f.text_area :tags, placeholder: "tags", rows: 3 %>
</div>
<%= f.submit "Add Bookmark", class: "btn btn-large btn-primary" %>
<% end %>

<script>
    var myTextArea = $('textarea').tagify();
    $('form').submit( function() {
         this.tags = $('textarea').tagify('serialize');
    });
</script>