<li id="<%= feed_item.id %>">
    <span class="page_title"><%= link_to feed_item.page_title, feed_item %></span>
    <div class="urls"><%= link_to feed_item.full_url, feed_item.full_url %>
    (Shortened URL: <%= link_to feed_item.shortening, feed_item.shortening %>)</div>
    <span class="page_metadata"><%= feed_item.page_metadata %></span>
    <div class="sites">See all bookmarks part of <%= link_to feed_item.sites.site_host, feed_item.sites %></div>
  
    <div class="tagline">Tagged with: 
        <% if feed_item.tags != "" %> <span class="tags"><%= feed_item.tags %></span>  <% end %>
    </div>
    <span class="user">
        Added by: <%= link_to feed_item.user.name, feed_item.user %>
    </span>
    <span class="timestamp">
        <%= time_ago_in_words(feed_item.created_at) %> ago.
    </span>
    <% if current_user?(feed_item.user) %>
        <%= link_to "delete", feed_item, method: :delete %>
    <% end %>
</li>