<div class="row">

    <div class="span4">
        <%= render 'layouts/sidebar' %>
    </div>

    <div class="span8">
        <h1>Your Bookmarks by Site</h1>
        <small>(Click to site name show/hide bookmarks)</small>

        <% if @sites_index.any? %>
            <% @sites_index.each_with_index do |index_item, index| %>
            <% if @sites_index[index-1] %>
                <% if index_item.sites.site_host != @sites_index[index-1].sites.site_host %>
                    <!-- close previous show/hide div -->
                    <% if index != 0 %>
                        </div>
                    <% end %>

                    <a href="javascript:toggle('<%= index_item.sites.site_host %>')">
                        <div class="site_host"><%= index_item.sites.site_host %> </div>
                    </a>
                    <!-- open show/hide div -->
                    <div id="<%= index_item.sites.site_host %>" style="display: none;"> 
                    <ul class="bookmarks">
                <% end %>
                    <%= render partial: 'shared/feed_item', locals: {feed_item: index_item} %>
            <% end %>
            <% end %>
            <!-- close final ul and div-->
            </ul>
            </div>
        <% end %>

    </div>

</div>

<script type="text/javascript">
function toggle(element) {
    document.getElementById(element).style.display = (document.getElementById(element).style.display == "none") ? "" : "none";
}
</script>